.productwrap {
  display: flex;
  height: 375px;
  max-width: 235px;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid transparent;
  a {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-decoration: none;
    .product-head {
      margin: 0px;
      align-items: center;
      height: 55px;
      .warrent-wrap {
        display: flex;
        justify-content: flex-start;
        .warranty-badge {
          width: 30px;
        }
      }
      .discount-wrap {
        display: flex;
        justify-content: flex-end;
      }
    }
    .product-image {
      margin: auto;
      flex-grow: 1;
      text-align: center;
    }
    .product-detail {
      padding: 0px 15px 15px;
      text-align: center;
      min-height: 135px;
      .product-name {
        font-size: 20px;
        font-family: "Tajawal-Bold";
        color: #6f358d;
        margin-bottom: 0.25rem;
        height: 47px;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
      .product-manufacturer {
        font-size: 18px;
        height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #58595b;
        line-height: 20px;
      }
      .product-price-wrap {
        .product-price,
        .product-price span {
          color: #0eabb9;
          font-family: "Tajawal-Bold";
        }
        .product-price {
          font-size: 19px;
          span {
            font-size: 16px;
          }
        }
        .product-price-strick,
        .product-price-strick span {
          position: relative;
          width: fit-content;
          color: #808184;
          line-height: 18px;
          font-family: "Tajawal-Bold";
          margin: 0 auto;
        }
        .product-price-strick {
          font-size: 16px;
          span {
            font-size: 14px;
          }
        }
        .product-price-strick:after {
          border-top: 1px solid #808184;
          position: absolute;
          content: "";
          right: 0;
          top: 6px;
          left: 0;
        }
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    border-color: #9a7ab1;
  }
}

@media (max-width: 575px) {
  .productwrap {
    margin: 0 auto;
    height: 335px;
    a {
      .product-head {
        height: 45px;
        .warrent-wrap {
          .warranty-badge {
            width: 25px;
          }
        }
      }
      .product-image {
        img {
          max-width: 75%;
        }
      }
      .product-detail {
        .product-name {
          font-size: 16px;
          height: 37px;
        }
        .product-manufacturer {
          font-size: 14px;
        }
        .product-price-wrap {
          .product-price {
            font-size: 16px;
            span {
              font-size: 14px;
            }
          }
          .product-price-strick {
            font-size: 12px;
            span {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
