.breadcrum {
  min-height: 40px;
}
.detail-panel {
  padding: 50px;
  position: relative;
}
.left-detail-panel {
  padding: 0 20px;
}
.product-thumbnails {
  list-style: none;
  margin-top: 10px;
  padding: 0;
  display: inline-block;
}

.product-thumbnails li,
.thumbnail-img {
  border: 1px solid #eef2f5;
  height: auto;
  width: 54px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3em;
}
.product-thumbnails li + li {
  margin-left: 15px;
}
.product-thumbnails li.active,
.thumbnail-img.active {
  border: 1px solid #8c5da4;
}
.product-big-image {
  position: relative;
  text-align: center;
}

.right-detail-panel {
  h1 {
    font-family: "Tajawal-bold";
    font-size: 22px;
    line-height: 24px;
    color: #000;
    word-wrap: break-word;
    font-weight: bold;
  }
  .brand-name {
    color: #6f358d;
    font-size: 16px;
    line-height: 19px;
    padding-right: 20px;
  }
  .warranty-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.align-middle {
  display: inline-block;
  vertical-align: middle;
}
.star-wrapper {
  padding-right: 5px;
}
.star-count {
  padding-right: 5px;
  font-size: 12px;
  color: #e16595;
}
ul.stars {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 22px;
}
.star {
  font-size: 15px;
  width: 13px;
  display: inline-block;
  color: #b6b6b6;
  position: relative;
}
.star:last-child {
  margin-right: 0;
}
.star:before {
  content: "\2605";
}
.star.on {
  color: #e16595;
}
.star.half:after {
  content: "\2605";
  color: #e16595;
  margin-left: 0;
  width: 7px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.review-count {
  color: #666666;
  font-size: 14px;
  line-height: 17px;
}
.pdt-detail-cost {
  display: inline-flex;
  direction: ltr;
  align-items: baseline;
  span {
    color: #13acba;
    font-size: 25px;
    line-height: 26px;
    font-family: "Tajawal-bold";
    &.currency {
      font-size: 20px;
      padding-right: 5px;
    }
  }
}
.product-cost-strick {
  display: inline-flex;
  direction: ltr;
  position: relative;
  span {
    color: #999;
    font-size: 14px;
    line-height: 18px;
    &.currency {
      font-size: 12px;
      padding-right: 5px;
    }
  }
  &:after {
    border-top: 1px solid #808184;
    position: absolute;
    content: "";
    right: 0;
    top: 6.5px;
    left: 0;
  }
}

.pdt-specifications h3,
.manufacturing-info h3 {
  color: #333333;
  font-size: 18px;
  line-height: 22px;
}
.pdt-specifications ul {
  margin: 0;
  padding: 0;
  list-style: disc;
  list-style-position: inside;
}
.pdt-specifications ul li {
  color: #666666;
  font-size: 14px;
  line-height: 26px;
}

.pdt-details-action a.productlike {
  color: #6f358d;
}
.pdt-details-action a.productlike span {
  font-size: 22px;
}
.pdt-details-action span.tangoico-repeat-button {
  font-size: 21px;
}
.strip-panel {
  padding: 50px;
}
.strip-icon {
  float: left;
  font-size: 35px;
  color: #6f358d;
}
.strip-desc {
  padding-left: 55px;
}

.shipping-icon {
  font-size: 28px;
}

.returns-icon {
  font-size: 25px;
}

.strip-desc h4 {
  color: rgba(51, 51, 51, 0.9);
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
}
.strip-desc p {
  color: #666666;
  font-size: 11px;
  line-height: 26px;
  margin: 0;
}
.rtl .product-thumbnails li {
  margin-left: 15px;
}
.rtl .product-thumbnails li:last-child {
  margin-left: 0px;
}
.rtl .right-detail-panel {
  text-align: right;
}
.rtl .right-detail-panel .brand-name,
.rtl .star-wrapper {
  padding-right: 0;
  padding-left: 20px;
}
.rtl .star-count {
  padding-right: 0;
  padding-left: 5px;
}
.rtl .star.half:after {
  margin-left: 0;
  margin-right: 0;
  left: auto;
  right: 0;
}
.rtl .pdt-details-action a.productlike {
  margin-left: 25px;
  margin-right: 25px;
}
.rtl .strip-icon-wrap {
  float: right;
}
.rtl .strip-desc {
  padding-left: 0;
  padding-right: 55px;
  text-align: right;
}

.tab-panel .tab-content {
  border-top: 1px solid #e8e8e8;
  padding-top: 50px;
  padding-bottom: 50px;
}
.tab-panel .nav-tabs .nav-item {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "STC Bold";
}
.tab-panel .nav-tabs .nav-item .nav-link {
  border: none;
  border-bottom: 3px solid #fff;
  border-right: 1px solid #e8e8e8;
  background: none;
  color: #333333;
  padding: 25px 16px;
  font-family: "Tajawal-Regular";
}
.tab-panel .nav-tabs .nav-link.active,
.tab-panel .nav-tabs .nav-item.show .nav-link {
  border-bottom: 3px solid #13acba;
  font-weight: bold;
}
.tab-panel .nav-tabs .nav-item:last-child .nav-link {
  border-right: none;
}
.tab-pane#overview {
  max-width: 90%;
  margin: 0 auto;
}
#overview-tab h5 {
  text-transform: uppercase;
  font-size: 18px;
}
#overview-tab p {
  font-size: 14px;
  margin: 10px 0 0 0;
}

.rtl .tab-pane#overview {
  text-align: right;
}

.rtl .rtl-right-view {
  text-align: right;
}
.spec-table table tr td.thead {
  color: #6f358d;
  font-size: 20px;
  line-height: 30px;
  width: 190px;
}

.spec-table table tr td.spec-label {
  width: 220px;
}

.spec-table table tr td {
  color: rgba(51, 51, 51, 0.8);
  font-size: 18px;
  line-height: 30px;
  padding: 10px;
  vertical-align: top;
  border: none;
}

.spec-table table {
  width: 100%;
  min-width: 500px;
}
.rtl .spec-table table {
  text-align: right;
}
.review-star-count {
  color: #8c5da4;
  font-size: 32px;
  line-height: 38px;
}
.review-from {
  color: #666666;
  font-size: 12px;
  line-height: 12px;
}
.review-stars {
  display: block;
}
.review-stars .star {
  font-size: 22px;
  width: 17px;
  position: relative;
}
.review-stars .star.half:after {
  width: 10px;
  top: 0;
  margin-left: 0;
}
.review-strip {
  padding: 30px 40px;
}
.star-rating-panel {
  padding: 0;
  margin: 0;
  list-style: none;
}
.star-rating-panel > li {
  margin-bottom: 5px;
}
.star-rating-panel .number-star {
  color: #666666;
  font-size: 14px;
  line-height: 17px;
  font-family: "STC Bold";
  width: 30px;
  text-align: left;
}
.star-rating-panel .number-star:after {
  content: "\2605";
  font-size: 16px;
  width: 15px;
  position: relative;
  color: #e16595;
  display: inline-block;
  margin-left: 5px;
  float: right;
}
.star-rating-panel .rating-slider {
  background-color: #d7d9eb;
  border-radius: 5.6px;
  width: 180px;
  height: 10px;
  position: relative;
  margin-left: 15px;
}
.star-rating-panel .value-rating {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #8c5da4;
  border-radius: 5.6px;
}
.star-rating-panel .value-rating.width-100 {
  right: 0;
}
.star-rating-panel .value-rating.width-90 {
  right: 10%;
}
.star-rating-panel .value-rating.width-80 {
  right: 20%;
}
.star-rating-panel .value-rating.width-70 {
  right: 30%;
}
.star-rating-panel .value-rating.width-60 {
  right: 40%;
}
.star-rating-panel .value-rating.width-50 {
  right: 50%;
}
.star-rating-panel .value-rating.width-40 {
  right: 60%;
}
.star-rating-panel .value-rating.width-30 {
  right: 70%;
}
.star-rating-panel .value-rating.width-20 {
  right: 80%;
}
.star-rating-panel .value-rating.width-10 {
  right: 90%;
}
.star-rating-panel .rating-points {
  color: #666666;
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
}
.pros-cons-list span {
  color: #333333;
  font-size: 14px;
  line-height: 17px;
}
.pros-cons-list ul {
  margin: 0;
  padding: 0;
}
.pros-cons-list ul li {
  color: #666666;
  font-size: 12px;
  line-height: 18px;
  list-style: disc;
  list-style-position: inside;
}
#review {
  padding-left: 50px;
  padding-right: 50px;
}
.new-review {
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 25px;
  text-align: center;
  cursor: pointer;
}
.new-review .review-text {
  color: rgba(51, 51, 51, 0.88);
  font-size: 12px;
  line-height: 14px;
  display: block;
}
.new-review .tangoico-contract {
  font-size: 34px;
}
.review-user-details {
  display: table;
}
.review-user-details .cell-middle-align {
  display: table-cell;
  vertical-align: middle;
}
.review-user-details img {
  max-width: 40px;
  height: auto;
  border-radius: 50%;
}
.user-detail-reviewed {
  padding-left: 15px;
}
.user-detail-reviewed div {
  color: #6f358d;
  font-size: 14px;
  line-height: 17px;
}
.user-detail-reviewed span {
  color: #666666;
  font-size: 12px;
  line-height: 14px;
  padding-top: 15px;
}
.customer-review-list {
  padding: 50px 0;
}
.customer-review-list table tbody tr td {
  vertical-align: top;
}
.customer-review-list table tbody tr td:nth-child(2) {
  padding-left: 30px;
}
.review-description {
  margin-top: -2px;
}
.review-desc {
  margin-top: 10px;
}
.review-description h6 {
  color: #333333;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 0;
}
.review-description h6,
.review-description ul {
  display: inline-block;
  vertical-align: middle;
}
.review-description ul {
  padding-left: 15px;
  line-height: 10px;
}
.review-description ul li {
  line-height: 10px;
}
.review-description p {
  color: #333333;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0;
}
.like-dislike-grp a {
  font-size: 14px;
  color: #8c5da4;
  display: inline-block;
  margin-right: 3px;
  margin-top: 12px;
}
.rtl .review-strip {
  text-align: right;
}
.rtl .review-stars .star.half:after {
  right: 13px;
}
.rtl .star-rating-panel .value-rating {
  right: 0;
}
.rtl .star-rating-panel .value-rating.width-100 {
  left: 0;
}
.rtl .star-rating-panel .value-rating.width-90 {
  left: 10%;
}
.rtl .star-rating-panel .value-rating.width-80 {
  left: 20%;
}
.rtl .star-rating-panel .value-rating.width-70 {
  left: 30%;
}
.rtl .star-rating-panel .value-rating.width-60 {
  left: 40%;
}
.rtl .star-rating-panel .value-rating.width-50 {
  left: 50%;
}
.rtl .star-rating-panel .value-rating.width-40 {
  left: 60%;
}
.rtl .star-rating-panel .value-rating.width-30 {
  left: 70%;
}
.rtl .star-rating-panel .value-rating.width-20 {
  left: 80%;
}
.rtl .star-rating-panel .value-rating.width-10 {
  left: 90%;
}
.rtl .tab-panel .nav-tabs {
  padding: 0;
}
.customer-review-list table {
  width: 100%;
}
.rtl .user-detail-reviewed {
  padding-left: 0;
  padding-right: 15px;
  text-align: right;
}
.rtl .customer-review-list table tbody tr td:nth-child(2) {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}
.customer-review-list table tbody tr td:first-child {
  width: 200px;
}
@media (max-width: 1199px) {
  .review-strip > div {
    margin-bottom: 30px;
  }
  .review-strip > div:nth-child(2n) {
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .strip-card:first-child,
  .strip-card:nth-child(2) {
    margin-bottom: 20px;
  }
  .review-strip > div:nth-child(2n) {
    margin-bottom: 30px;
  }
  .review-strip > div:nth-child(3n) {
    margin-bottom: 0;
  }
  .review-strip > div:last-child {
    margin-bottom: 0;
  }
  .review-strip {
    padding: 20px;
  }
  #review {
    padding-left: 10px;
    padding-right: 10px;
  }
  .customer-review-list table tbody tr td {
    display: block;
  }
  .customer-review-list table tbody tr td:nth-child(2) {
    padding-left: 60px;
    padding-top: 10px;
  }
  .review-description ul {
    display: block;
    padding: 0;
    margin: 10px 0 0 0;
  }
  .rtl .customer-review-list table tbody tr td:nth-child(2) {
    padding-right: 60px;
  }
}
@media (max-width: 767px) {
  .detail-panel {
    padding: 20px;
  }
  .strip-card {
    margin-bottom: 20px;
  }
  .strip-card:last-child {
    margin-bottom: 0px;
  }
  .star-rating-panel .rating-slider {
    width: 122px;
  }
}
.no-product-wrapper {
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 28px;
}
.rtl .no-product-wrapper {
  text-align: right;
}
.right-detail-panel .pdt-details-action .btn-primary {
  width: 185px;
  height: 44px;
  border-radius: 8px;
  font-size: 18px;
  margin-right: 20px;
  i {
    font-size: 14px;
    color: #fff;
    padding-left: 5px;
  }
}
.mac .right-detail-panel .pdt-details-action .btn-primary {
  padding-bottom: 0px;
  padding-top: 0px;
}
.product-detail-wrapper {
  padding-bottom: 30px;
}
.rtl {
  .right-detail-panel .pdt-details-action .btn-primary {
    margin-right: 0;
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .rtl .pdt-details-action a.productlike {
    margin-left: 15px;
    margin-right: 15px;
  }

  .spec-table table tr td.thead {
    width: 100px;
    word-wrap: break-word;
  }

  .spec-table table tr td.spec-label {
    width: 150px;
    word-wrap: break-word;
  }
}
@media screen and (min-width: 992px) {
  .product-detail-wrapper {
    &.details-loader {
      .container {
        background: url("../../../assets/images/pdp_loader_en.svg") no-repeat;
        background-size: contain;
        min-height: 450px;
        border-radius: 8px;
        padding: 0;
      }
      .detail-panel {
        background: url("../../../assets/images/pdp_loader_en.svg") no-repeat,
          #fff;
        background-size: cover;
        min-height: 450px;
        .row {
          visibility: hidden;
        }
      }
    }
  }
  .rtl {
    .product-detail-wrapper {
      &.details-loader {
        .container {
          background: url("../../../assets/images/pdp_loader_ar.svg") no-repeat;
          background-size: contain;
          .detail-panel {
            background: url("../../../assets/images/pdp_loader_ar.svg")
                no-repeat,
              #fff;
            background-size: auto;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .left-detail-panel {
    padding: 0;
  }
}
@media screen and (max-width: 365px) {
  .right-detail-panel {
    .pdt-details-action {
      .btn-primary,
      .btn-recharge,
      .icon-wishlist {
        margin: 0;
        margin-bottom: 15px;
      }
    }
  }
  .pdt-detail-cost {
    span {
      font-size: 20px;
      line-height: 24px;
      &.currency {
        font-size: 16px;
      }
    }
  }
}

.rtl h2 {
  text-align: right;
}

.white-panel-spec {
  border: 0.5px solid rgba(214, 202, 225, 0.5);
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.rtl .tab-panel .nav-tabs .nav-item .nav-link {
  border-left: 1px solid #e8e8e8;
}
