.category-list .category-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  .category-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;
    margin-bottom: 5px;
    img {
      width: 64px;
      height: 64px;
    }
  }
  .category-name {
    text-align: center;
    font-size: 18px;
    line-height: 1.1;
    margin-top: 4px;
    color: #23253e;
    font-family: "Tajawal-Bold";
    word-break: break-word;
    max-width: 160px;
  }
  &:hover {
    text-decoration: none;
  }
}

@media (max-width: 991px) {
  .category-list {
    .category-list-item {
      .category-img {
        width: 87px;
        height: 87px;
        img {
          width: 60px;
          height: 60px;
        }
      }
      .category-name {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .category-list .category-list-item {
    margin-right: 13px;
    margin-left: 0;
    .category-name {
      width: 87px;
    }
  }
  .rtl .category-list .category-list-item {
    margin-right: 0;
    margin-left: 13px;
  }
}
