#fixed-header {
  position: fixed;
  width: 100%;
  z-index: 101;
  top: 0;
  .header-nav {
    flex-direction: column;
    transition: all 0.3s ease;
    .navbar-toggler {
      padding: 0;
      border: 0;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5em;
        height: 1.5em;
        color: #fff;
        &.navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }
    }
    .navbar-nav {
      flex-wrap: nowrap;
      margin-left: auto;
      li.border-line {
        position: relative;
        padding: 0 0.5rem;
        &:after {
          content: "";
          display: block;
          width: 1px;
          height: 12px;
          border-right: 1px solid #fff;
          position: absolute;
          right: 0;
          top: 12px;
          opacity: 0.35;
        }
      }
    }
    .order-list {
      i {
        font-size: 14px;
      }
    }
    .search-container {
      flex-grow: 1;
    }
    .nav-link {
      color: #fff;
      [class^="mystore-"],
      [class*=" mystore-"] {
        color: #fff;
      }
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        color: #fdcf74;
        [class^="mystore-"],
        [class*=" mystore-"],
        &:after {
          color: #fdcf74;
        }
      }
      &.cart-item {
        position: relative;
        padding: 0 1rem;
        margin-top: -3px;
        cursor: pointer;
        .cart-badge {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute !important;
          top: -6px !important;
          left: 4px;
          width: 18px;
          height: 18px;
          border-radius: 100%;
          text-align: center;
          padding: 0.35em 0.3em 0.2em 0.25em;
          z-index: 2;
        }
        .header-cart {
          font-size: 1.45rem;
          &:before {
            z-index: 1;
          }
        }
      }
    }
    .flag-list {
      .nav-link {
        font-size: 14px;
      }
      .country-flag {
        width: 20px;
        height: 12px;
        border: none;
        border-radius: 0;
        padding: 0;
        margin-left: 5px;
        margin-bottom: 0;
        display: inline-block;
        &.ksa {
          background: url("../../assets/images/ksa-flag.svg") no-repeat !important;
          background-size: 100% 100% !important;
        }
        &.oman {
          background: url("../../assets/images/oman-flag.svg") no-repeat !important;
          background-size: 100% 100% !important;
        }
        &.bahrain {
          background: url("../../assets/images/bahrain-flag.svg") no-repeat !important;
          background-size: 100% 100% !important;
        }
      }
      .country-dropdown {
        &.dropdown-menu::before {
          left: auto;
          right: 9px;
        }
      }
    }
    .login-dropdown {
      .dropdown-menu {
        width: 325px;
        padding: 20px 35px;
        &:before {
          left: auto;
          right: 70px;
        }
        &.dropdown-menu-right {
          right: -60px;
        }
        .heading-title {
          font-family: "Tajawal-Bold";
          font-size: 20px;
          color: #000000;
        }
        .forgot-label {
          color: #6f358d;
          font-size: 12px;
          opacity: 1;
        }
        .btn-wrap {
          width: 100%;
          display: inline-flex;
          justify-content: center;
          position: relative;
          margin-bottom: 1rem;
          .btn + .btn {
            margin-left: 10px;
          }
          &:before {
            right: 78%;
          }
          &:after {
            left: 78%;
          }
          &:before,
          &:after {
            content: "";
            position: absolute;
            height: 5px;
            border-top: 2px solid #eef2f5;
            top: 13px;
            width: 55px;
          }
        }
        .create-account {
          font-size: 12px;
          color: #000;
          a {
            font-family: "Tajawal-Bold";
            font-size: 12px;
            color: #6f358d;
            cursor: pointer;
          }
        }
      }
    }
    .navbar-brand {
      width: 90px;
      margin: 0;
      min-height: 57px;
      img {
        max-width: 60px;
      }
    }
    &.bg-header {
      background: rgba(112, 68, 142, 0.9);
      .searchwrap {
        background: #fff;
        span,
        input[type="text"] {
          color: #58595b;
          font-family: "Tajawal-Bold";
          &::placeholder {
            color: rgba(88, 89, 91, 0.6);
            font-family: "Tajawal-Bold";
          }
        }
      }
    }
    stc-menu {
      width: 100%;
    }
  }
  .topmenu {
    background: rgba(130, 89, 158, 0.9);
    transition: all 0.3s ease;
    .nav {
      .nav-link {
        color: #fff;
        cursor: pointer;
      }
    }
  }
  &:hover,
  &:active {
    .header-nav.bg-header {
      background: rgba(112, 68, 142, 1);
    }
    .topmenu {
      background: rgba(130, 89, 158, 1);
    }
  }
}
.dropdown {
  .country-dropdown {
    padding: 0px;
    .country-list-wrap {
      padding: 5px;
    }
    .city-searchwrap {
      border-bottom: 1.3px solid #ccc;
      position: relative;
      border-radius: 0px;
      background: #fff;
      input[type="text"] {
        border: none;
        outline: 0;
        height: 25px;
        padding: 0 15px 0 0;
        width: 100%;
        font-size: 11px;
      }
      span {
        cursor: pointer;
        text-decoration: none;
        position: absolute;
        right: 7px;
        top: 3px;
      }
    }
    ul {
      padding: 0;
      list-style: none;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
      }
      &::-webkit-scrollbar {
        width: 5px;
        background-color: #f5f5f5;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #82599e;
      }
      li {
        display: inline-block;
        border: none;
        padding: 5px;
        min-width: 130px;
        vertical-align: middle;
      }
      &.country-list {
        li {
          display: block;
          min-width: auto;
          label {
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .city-list-container {
      height: 75%;
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 20px;
      cursor: pointer;
      line-height: 17px;
      font-size: 13px;
      color: #58595b;
      margin-bottom: 0;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #d0d2d3;
        border: 0;
      }
      &:after {
        content: "";
        width: 7px;
        height: 7px;
        background: #13acba;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 50%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
    }
    [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

.rtl {
  #fixed-header {
    .header-nav {
      .navbar-nav {
        margin-left: 0;
        margin-right: auto;
        li.border-line:after {
          right: auto;
          left: 0;
        }
      }
      .navbar-brand {
        text-align: right;
      }
      .flag-list {
        .country-dropdown {
          &.dropdown-menu::before {
            right: auto;
            left: 10px;
          }
        }
      }
      .login-dropdown {
        .dropdown-menu {
          text-align: right;
          &.dropdown-menu-right {
            right: auto;
            left: -60px;
          }
          &:before {
            right: auto;
            left: 70px;
          }
          .btn-wrap {
            .btn + .btn {
              margin-left: 0;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .dropdown {
    .country-dropdown {
      ul {
        text-align: right;
      }
      [type="radio"]:checked + label,
      [type="radio"]:not(:checked) + label {
        padding-left: 0;
        padding-right: 20px;
        &:after {
          left: auto;
          right: 3px;
        }
      }
      .city-searchwrap {
        input[type="text"] {
          padding: 0 0 0 15px;
        }
        span {
          right: auto;
          left: 7px;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  #fixed-header {
    transform-origin: top;
    transition: transform 0.3s ease-out;
    .header-nav {
      .navbar-brand {
        width: auto;
      }
      .cart-dropdown-wrap {
        max-width: 30px;
      }
      .nav-link {
        &.cart-item {
          direction: ltr;
          padding: 0 0.5rem;
          margin-top: 1px;
          .cart-badge {
            left: -3px;
          }
        }
      }
    }
  }
}
