.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem 0.5rem;
  h2 {
    font-family: "Tajawal-Bold";
    font-size: 25px;
    color: #6f358d;
    line-height: 36px;
    margin-bottom: 0;
  }
  a {
    cursor: pointer;
    color: #6f368e;
    font-size: 18px;
    text-decoration: underline;
    &:hover {
      color: #13acba;
    }
  }
}
