@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

body {
  margin: 0;
  padding-top: 110px;
  background: #eef2f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

.rtl {
  direction: rtl;
}

@media (min-width: 576px) {
  .logo-container,
  .container {
    max-width: 90%;
  }
}
@media (min-width: 768px) {
  .logo-container,
  .container {
    max-width: 90%;
  }
}
@media (min-width: 992px) {
  .logo-container,
  .container {
    max-width: 95%;
  }
}
@media (min-width: 1200px) {
  .logo-container,
  .container {
    max-width: 1200px;
  }
}
