.slick-slider {
  .slick-list {
    z-index: 1;
  }
  .slick-arrow {
    z-index: 2;
    &.slick-prev {
      left: 5px;
    }
    &.slick-next {
      right: 5px;
    }
  }
  .slick-dots {
    position: unset;
    li {
      width: 8px;
      height: 8px;
      button {
        background: #000;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        padding: 0;
        opacity: 0.25;
        &:before {
          display: none;
          content: "";
        }
      }
      &.slick-active {
        button {
          opacity: 0.75;
        }
      }
    }
  }
}
